.card-deck {
    padding: 20px;
}

.accordion {
    padding: 100px;
}

.form-group {
    padding-top: 20px;
    padding-inline-start: 50px;
    padding-inline-end: 100px;
}

.how-it-works {
    text-align: center;
    padding-top: 100px;
}

.media {
    padding: 50px;
}

.quote {
    padding: 50px;
}
