.card-deck {
    padding: 20px;
}

.accordion {
    padding: 100px;
}

.form-group {
    padding-top: 20px;
    padding-inline-start: 50px;
    padding-inline-end: 100px;
}

.how-it-works {
    text-align: center;
    padding-top: 100px;
}

.media {
    padding: 50px;
}

.quote {
    padding: 50px;
}

body {
    background-color: #FFFEF9;
}

.jumbotron {
    background-color:#E8923C;
    color: white;
    height: 2000px;
    background-image:url("../Images/_CoverImage_LargeTopBkrnd2.png");
    background-position: center;
    background-size: auto;
}
.jumbotron1 {
    background-color:#B7D9CE;
    color: #2E6369;
    background-size: 150rem;
    height: 400px;
}
.lead {
    display: flex;
    padding-top: 100px;
}

.display-4 {
    padding-top: 100px;
}

h1 {
    color: #E8923C;
}

.mr-3 {
    width: 30%;
    height: auto;
}

.ml-3 {
    width: 30%;
    height: auto;
}

.learning-center {
    width: 100%;
    height: auto;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: none;
}

#subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-deck {
    background-color: #B7D9CE;
    color: #2E6369;
    text-align: center;
}


.accordion {
    color: #2E6369;
}
.mb-0 {
    color: #707070;
}
.mt-0 {
    color: #707070;
}

.row {
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.btn {
    background-color: #E8923C;
    color: white;
}



